<div class="row text-center" style="margin-bottom: 20px;">
  <div class="col-xs-12 col-md-12">
    <button (click)="digitClick(0)" class="btn btn-primary btn-digit">0</button>
    <button (click)="digitClick(1)" class="btn btn-primary btn-digit">1</button>
    <button (click)="digitClick(2)" class="btn btn-primary btn-digit">2</button>
    <button (click)="digitClick(3)" class="btn btn-primary btn-digit">3</button>
    <button (click)="digitClick(4)" class="btn btn-primary btn-digit">4</button>
    <button (click)="digitClick(5)" class="btn btn-primary btn-digit">5</button>
    <button (click)="digitClick(6)" class="btn btn-primary btn-digit">6</button>
    <button (click)="digitClick(7)" class="btn btn-primary btn-digit">7</button>
    <button (click)="digitClick(8)" class="btn btn-primary btn-digit">8</button>
    <button (click)="digitClick(9)" class="btn btn-primary btn-digit">9</button>
    <button (click)="digitClickClear()" class="btn btn-primary btn-limpar">{{ '<-' }}</button>
  </div>
</div>